.container-page {
  margin: 20px 42px;

  @media only screen and (max-width: 800px) {
    margin: 10px 10px;
  }
}

.container-details {
  text-align: center;
}

h1,
h2 {
  color: #d42026;
}

.hero-image {
  width: 50%;
  border-radius: 3%;
}

.events-list {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media only screen and (max-width: 800px) {
    justify-content: space-around;
  }
}
