input, label {
  display:block;
}

label{
  color: #D42026;
  font-weight: 700;
}

form{
  margin-bottom: 34px;
}

.input-search{
  width: 400px;
  height: 31px;
  margin: 0px;
  height: 35px;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  padding: 5px;

  @media only screen and (max-width: 800px) {
    width: 80%;
  }
}

.input-search:focus{
  outline: 2px solid rgba(212, 32, 38, 0.4);
}
