h2 {
  color: #d42026;
  font-weight: lighter;
}

.home {
  margin: 20px 42px;

  @media only screen and (max-width: 800px) {
    margin: 10px 10px;
  }
}

.bold-text {
  font-weight: bold;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
