h2 {
  color: #d42026;
  font-weight: lighter;
  font-size: 2rem;
}

.container {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.home {
  margin: 20px 42px 80px 42px;

  @media only screen and (max-width: 800px) {
    margin: 10px 10px;
  }
}

.bold-text {
  font-weight: bold;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
